Introducción a las listas

In [4]:
planets = ['Mercurio', 'Venus', 'Tierra', 'Marte', 'Jupiter', 'Saturno', 'Urano', 'Neptuno']
print('El primer planeta es', planets[0])
print('El segundo planeta es', planets[1])
print('El tercer planeta es', planets[2])

planets[3] = 'Planeta rojo'
print('Marte tambien es conocido como', planets[3])

El primer planeta es Mercurio
El segundo planeta es Venus
El tercer planeta es Tierra
Marte tambien es conocido como Planeta rojo

Determinar la longitud de una lista

In [7]:
planets = ['Mercurio', 'Venus', 'Tierra', 'Marte', 'Jupiter', 'Saturno', 'Urano', 'Neptuno']
print('El primer planeta es', planets[0])
print('El segundo planeta es', planets[1])
print('El tercer planeta es', planets[2])

planets[3] = 'Planeta rojo'
print('Marte tambien es conocido como', planets[3])
numero_de_planetas = len(planets)
print('Hay', numero_de_planetas, 'planetas en el sistema solar')

El primer planeta es Mercurio
El segundo planeta es Venus
El tercer planeta es Tierra
Marte tambien es conocido como Planeta rojo
Hay 8 planetas en el sistema solar

Agregar valores a la lista

In [8]:
planets = ['Mercurio', 'Venus', 'Tierra', 'Marte', 'Jupiter', 'Saturno', 'Urano', 'Neptuno']
planets.append('Pluton')
numero_de_planetas = len(planets)
print('Actualmente hay', numero_de_planetas, 'planetas en el sistema solar')

Actualmente hay 9 planetas en el sistema solar

Eliminar valores de una lista

In [9]:
planets = ['Mercurio', 'Venus', 'Tierra', 'Marte', 'Jupiter', 'Saturno', 'Urano', 'Neptuno']
planets.pop #Adios pluton
numero_de_planetas = len(planets)
print('No, definitivamente hay', numero_de_planetas, 'planetas en el sistema solar, pluton se considera un planeta enano')

No, definitivamente hay 8 planetas en el sistema solar, pluton se considera un planeta enano

índices negativos

In [13]:
planets = ['Mercurio', 'Venus', 'Tierra', 'Marte', 'Jupiter', 'Saturno', 'Urano', 'Neptuno']
print('El último planeta es',planets[-1])
print('El penultimo planeta es',planets[-2])

El último planeta es Neptuno
El penultimo planeta es Urano

Buscar un valor en una lista

In [17]:
planets = ['Mercurio', 'Venus', 'Tierra', 'Marte', 'Jupiter', 'Saturno', 'Urano', 'Neptuno']
jupiter_index = planets.index('Jupiter')
print('Jupiter es el', jupiter_index + 1, 'planeta desde el sol')

Jupiter es el 5 planeta desde el sol

Trabajar con números en listas

In [18]:
gravity_on_earth = 1.0
gravity_on_the_moon = 0.166

gravity_on_planets = [0.378, 0.907, 1, 0.379, 2.36, 0.916, 0.889, 1.12]
bus_weight = 12650
print('On earth, a double-decker bus weights', bus_weight, 'kg')
print('On mercury, a double-decker bus weights', bus_weight * gravity_on_planets[0], 'kg')

On earth, a double-decker bus weights 12650 kg
On mercury, a double-decker bus weights 4781.7 kg

min() y max() con listas

In [19]:
bus_weight = 12650 # in kilograms, on Earth

print('On Earth, a double-decker bus weighs', bus_weight, 'kg')
print('The lightest a bus would be in the solar system is', bus_weight * min(gravity_on_planets), 'kg')
print('The heaviest a bus would be in the solar system is', bus_weight * max(gravity_on_planets), 'kg')

On Earth, a double-decker bus weighs 12650 kg
The lightest a bus would be in the solar system is 4781.7 kg
The heaviest a bus would be in the solar system is 29854.0 kg

Manipular datos de lista

In [22]:
planets = ['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']
planets_before_earth = planets[0:2]
print(planets_before_earth)
planets_after_earth = planets[3:8]
print(planets_after_earth) 
planets_after_earth = planets[3:]
print(planets_after_earth)

['Mercury', 'Venus']
['Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']
['Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']

Unir listas

In [23]:
amalthea_group = ['Metis', 'Adrastea', 'Amalthea', 'Thebe']
galilean_moons = ['Io', 'Europa', 'Ganymede', 'Callisto']

regular_satellite_moons = amalthea_group + galilean_moons
print('The regular satellite moons of Jupiter are', regular_satellite_moons)

The regular satellite moons of Jupiter are ['Metis', 'Adrastea', 'Amalthea', 'Thebe', 'Io', 'Europa', 'Ganymede', 'Callisto']

Ordenar listas

In [26]:
regular_satellite_moons.sort()
print("The regular satellite moons of Jupiter are", regular_satellite_moons)

regular_satellite_moons.sort(reverse=True)
print("The regular satellite moons of Jupiter are", regular_satellite_moons)

The regular satellite moons of Jupiter are ['Adrastea', 'Amalthea', 'Callisto', 'Europa', 'Ganymede', 'Io', 'Metis', 'Thebe']
The regular satellite moons of Jupiter are ['Thebe', 'Metis', 'Io', 'Ganymede', 'Europa', 'Callisto', 'Amalthea', 'Adrastea']